.product{
    display: flex;
    border-bottom: 2px solid lightgray;
    padding: 5px;
    
}
.product-name{
    color: blue;
    font-weight: 400;
    
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid gray;
}